.bg-fade{
    background-color: #837960;
    background-image: linear-gradient(to bottom,);
}
.custom-shape-divider-bottom-1710906057 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710906057 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1710906057 .shape-fill {
    fill: #FFFFFF;
}